.kalkulator {
  width: 300px;
  margin: 50px auto;
  padding 20px
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
  width: 93%;
  height: 40px;
  font-size: 24px;
  text-align: left;
  padding: 10px;
  border:none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tombol {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-top: 20px;
}

button {
  height: 50px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  background-color: #f0f0f0;
  cursor: pointer;
}

button:hover {
  background-color: #e0e0e0;
}

#riwayat {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 50px; /* atur tinggi riwayat */
  overflow-y: auto; /* tambahkan scroll jika melebihi tinggi */
}